spring:
  application:
    name: inspect-pro

  datasource:
    url: jdbc:postgresql://localhost:5433/inspectpro
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379
      repositories:
        enabled: false

jwt:
  secret: 351aaec7b3f7fdaca4667f57987670f93800d14cf66c3cbf43845e0ac94bef6a
  expiration: 900000 # 15 min
  refresh-expiration: 604800000 # 7 días

logging:
  level:
    root: INFO
    com._9.inspect_pro: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.flywaydb: DEBUG
