spring:
  application:
    name: inspect-pro

  datasource:
    url: jdbc:postgresql://localhost:5433/inspectpro
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: your-secret-key-change-this-in-production-min-256-bits
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000

logging:
  level:
    root: INFO
    com._9.inspect_pro: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.flywaydb: DEBUG